
html {
  --color-about: #FAD089;
  --color-prof-exp: #FF9C5B;
  --color-proj-exp: #F5634A;
  --color-education: #2a9e8f;
  --color-faq: #3A8182;
}


.App {
  font-family:'Courier New', Courier, monospace;
}

h1 {
  font-size: 10vh;
}

#loading-page {
  width: 100vw;
  height: 100vh;
  background-color: rgb(212, 194, 166);
  display: flex;
}

#loading-text {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ---------------------- HEADER ---------------------- */
#header-bar {
  position: sticky;
  top: 0px;
  width: 100vw;
}

.header-option {
  display: flex;
  float: left;
  width: 20%;
  height: 4vh;
  font-size: larger;
  text-decoration: none;
  font-weight: bold;
  color: black;
  justify-content: center;
  align-items: center;
}

#about-header-option {
  background-color: var(--color-about);
}
#professional-experience-header-option {
  background-color: var(--color-prof-exp);
}
#projects-experience-header-option {
  background-color: var(--color-proj-exp);
}
#education-header-option {
  background-color: var(--color-education);
}
#faq-header-option {
  background-color: var(--color-faq);
}

/* ---------------------- LANDING ---------------------- */
#name {
  margin-bottom: 5vh;
  color:black;
  bottom: 20px;
  position: absolute;
  margin-left: 7vw;
}

.title-foto {
  width: 100vw;
  height: 100vh;
  background-image: url(./title_foto.jpg);
  background-size: 100%;
}

/* ---------------------- GENERAL SECTION ---------------------- */

.section-heading {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 3%;
}

.section-text {
  float: left;
  width: 50%;
  margin-left: 5%;
}

.section-img {
  margin-left: 10%;
}

/* ---------------------- ABOUT ---------------------- */

#about-section {
  background-color: var(--color-about);
  display: inline-block;
  width: 100%;
  padding-bottom: 5%;
}

/* ---------------------- EXPERIENCE ---------------------- */

.experience-section {
  display: inline-block;
  width: 100%;
  
}

#professional-experience-section {
  background-color: var(--color-prof-exp);
}

#projects-experience-section {
  background-color: var(--color-proj-exp);
}

.experience-card {
  margin: 5%;
  padding: 3%;
  min-height: 1%;
  overflow: auto;
}

#professional-experience-section .experience-card {
  background-color: #f5a773;
}

#projects-experience-section .experience-card {
  background-color: #e6735f;
}

/* ---------------------- EDUCATION ---------------------- */

#education-section {
  background-color: var(--color-education);
  display: inline-block;
  width: 100%;
}

.education-card {
  margin: 5%;
  padding: 3%;
  min-height: 1%;
  overflow: auto;
  background-color: #30ad9d;
}

.education-card .section-img {
  padding-left: 20%;
}

/* ----------------------- FAQ ----------------------- */

#faq-section {
  background-color: var(--color-faq);
  padding: 5%;
}


/* ---------------------- FOOTER ---------------------- */

#footer {
  background-color: var(--color-faq);
  border-top: solid;
  border-color: #44999b;
  padding: 3%;
}

#footer-contact-info {
  padding-bottom: 2%;
}

.contact-info {
  padding-right: 2%;
}


