

.App {
  font-family:'Courier New', Courier, monospace;
}

#loading-page {
  width: 100vw;
  height: 100vh;
  background-color: rgb(212, 194, 166);
  display: flex;
}

#loading-text {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 10vh;
}

#name {
  margin-bottom: 5vh;
  color:black;
  bottom: 20px;
  position: absolute;
  margin-left: 10vw;
}

.title-foto {
  width: 100vw;
  height: 100vh;
  background-image: url(./title_foto.png);
  background-size: 145%;
}


#about-section {
  background-color: rgb(210, 228, 161);
  display: inline-block;
  width: 100%;
  padding-bottom: 5%;
}

.section-heading {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 3%;
}

.section-text {
  float: left;
  width: 50%;
  margin-left: 5%;
}

.section-img {
  margin-left: 10%;
}

#experience-section {
  background-color: rgb(47, 88, 201);
  display: inline-block;
  width: 100%;
  
}

.experience-card {
  margin: 5%;
  padding: 3%;
  min-height: 1%;
  overflow: auto;
  background-color: rgb(53, 98, 223);
}


#education-section {
  background-color: blanchedalmond;
  display: inline-block;
  width: 100%;
}

.education-card {
  margin: 5%;
  padding: 3%;
  min-height: 1%;
  overflow: auto;
  background-color: rgb(212, 194, 166);
}

.education-card .section-text {
  width: 100%;
  margin-left: 3%;
}


