

.App {
  justify-content: center;
}

.landing {
  background-color: rgb(47, 88, 201);
  display: flex;
  height: 100vh;
  width: 100vw;
}

#name {
  margin-bottom: 5vh;
  color:black;
  font-family:'Courier New', Courier, monospace;
  font-size: 10vh;
  bottom: 20px;
  position: absolute;
  margin-left: 10vw;
}

.title_foto {
  width: 100vw;
  height: 100vh;
  background-image: url(./title_foto.png);
  background-size: 145%;
}
